body {
  background-color: $background-light;
  /*
  transition: background-color 0.5s;

  background-image: url("../../images/angkor-wat.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  &.dark-mode {
    background-color: $background-dark;
    transition: background-color 0.5s;
  }
*/
}
