* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Sassy+Frass&display=swap");

body {
  margin: 0;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  color: $blue-mai;
  font-size: 1.6rem;
  background: $bg-img-day no-repeat center center fixed;
  background-size: cover;
  transition: background-color 0.5s ease-in-out,
    background-image 0.5s ease-in-out;

  section {
    padding-bottom: 4rem;
  }
  .container {
    margin: 0 auto;
    padding: 0 3rem;
  }

  &.light-mode {
    background: $background-light;
  }

  &.dark-mode {
    @include dark-mode;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin-left: 0;
  }

  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  p {
    margin-left: 20px;
  }
  .main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-height: 90vh;
  }

  h1 {
    font-family: "Sassy Frass", cursive;
    color: white;
    letter-spacing: 6rem;
    text-align: center;
    font-weight: 400;
    font-size: 25rem;
    font-style: normal;
  }
  .custom-page .card {
    background: $bg-img-card no-repeat center center fixed;
    background-size: cover;
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  }

  /* **************************** SECTION HOOK ***************************/
  .hook {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    background-color: $background-light;
    padding: 15rem 2rem;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

    &.dark-mode {
      @include dark-mode;
    }
    h2 {
      font-family: "Inter", sans-serif;
      font-size: 5rem;
      margin-top: 5rem;
    }

    div {
      display: flex;
      width: 38%;
      align-items: center;
      justify-content: space-around;
    }

    img {
      width: 100%;
      border-radius: 50%;
      height: auto;
      padding-right: 2rem;
    }
  }

  /* **************************** SECTION GALLERY ***************************/
  .visually-hidden {
    @include visually-hidden;
  }

  .gallery {
    position: relative;
    width: 100vw;
    overflow: hidden;
    background-color: $cream-mai;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

    .gallery__inner {
      display: flex;
      animation: scrollLeft 20s linear infinite;
    }

    .gallery__container {
      flex: 0 0 auto;
      width: 20vw;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      margin-right: 10px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    @keyframes scrollLeft {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
    }

    &.dark-mode {
      @include dark-mode;
    }
  }
  /* **************************** SECTION CARD ***************************/

  .card {
    background: $bg-img-meals no-repeat center center fixed;
    background-size: cover;
    padding: 27rem 0 27rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

    .card__blur {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 3rem;
      backdrop-filter: blur(10px);
      border-radius: 1rem;
      background: rgba(255, 255, 254, 0.3);
      text-align: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

      h3 {
        font-size: 5rem;
        text-shadow: 8px 6px 5px rgba(0, 0, 0, 0.3);
      }
      a {
        text-decoration: none;
        color: white;
      }
    }
    button {
      @include button;
      font-size: 2rem;
    }
  }
}

.card__blur {
  background: rgba(252, 251, 251, 0.699);
}

/* **************************** SECTION END PAGE ***************************/
.visually-hidden {
  @include visually-hidden;
}
.end-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  background-color: $cream-mai;
  padding: 27rem 0 27rem 0;
  margin-bottom: -3rem;

  &.dark-mode {
    @include dark-mode;
  }

  .end-page__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    border-radius: 1rem;
    background: $bg-img-vitrine no-repeat center center;
    background-size: cover;
    width: 50%;
    height: auto;
    backdrop-filter: blur(10px);
    z-index: 1;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    a {
      color: $blue-mai;
      text-decoration: none;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      font-weight: 800;
      padding: 1rem;
      margin: 1rem 0;
      font-size: 3rem;
      transition: color 0.3s;

      &:hover {
        transform: scale(1.1);
        backdrop-filter: inherit;
        border-radius: 20px;
        color: darken($golden-button, 10%);
      }
    }

    h2,
    h3,
    p {
      margin-left: 20px;
      z-index: 1;
      font-size: 2.5rem;
      color: $blue-mai;
    }
  }
}

.go-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#up-button-img {
  width: 4rem;
  height: auto;
}

.go-top.show {
  opacity: 1;
  transform: scale(1);
}

.dark-mode .go-top #up-button-img {
  filter: invert(1);
}

/* VERSION MOBILE */

@media (max-width: 768px) {
  html {
    font-size: 56.25%;
  }

  body {
    font-size: $font-size-mobile;
  }

  h1 {
    font-size: 6rem;
  }

  .main {
    max-height: auto;
    padding: 2rem;
    max-height: 75vh;
  }

  .hook {
    flex-direction: column;
    padding: $spacing-small 1rem;

    h2 {
      font-size: 3rem;
      margin-top: 2rem;
    }

    div {
      width: 100%;
      flex-direction: column;
    }

    img {
      width: 80%;
    }
  }

  .gallery {
    height: auto;

    .gallery__inner {
      width: 300%;
    }

    .gallery__container {
      width: 15rem;
      height: 15rem;
    }
  }

  .card {
    padding: 5rem;
    height: auto;

    h3 {
      font-size: 3rem;
    }

    button {
      padding: 0.5rem 1rem;
      font-size: 1.4rem;
    }
  }

  .end-page {
    padding: 10rem 5rem 10rem 5rem;
    margin-bottom: 0;

    .end-page__container {
      width: 100%;

      a {
        font-size: 5rem;
      }

      h2,
      h3,
      p {
        font-size: 2rem;
      }
    }
  }

  .go-top {
    bottom: 2rem;
    right: 2rem;

    #up-button-link {
      width: 2.5rem;
    }

    #up-button-img {
      width: 4.5rem;
      height: 4.5rem;
    }
  }
}

@media (max-width: 480px) {
  html {
    font-size: 33%;
  }

  body {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 4rem;
  }

  .main {
    padding: 1rem;
  }

  .hook {
    padding: 4rem 0.5rem; // Réduit davantage le padding

    h2 {
      font-size: 2rem; // Réduit encore la taille de h2
      margin-top: 1rem; // Réduit la marge supérieure
    }

    div {
      width: 100%;
    }

    img {
      width: 100%; // Ajuste les images pour qu'elles s'adaptent à l'écran
    }
  }

  .gallery {
    height: auto; // Ajuste la hauteur pour les très petits écrans

    .gallery__inner {
      width: 400%; // Ajuste la largeur pour un meilleur défilement
    }

    .gallery__container {
      height: 35rem; // Réduit davantage la hauteur des conteneurs
    }
  }

  .card {
    padding: 3rem; // Réduit le padding pour les petits écrans

    h3 {
      font-size: 2rem; // Réduit la taille de h3
    }

    button {
      padding: 0.5rem 0.5rem; // Ajuste le padding du bouton
      font-size: 3.2rem; // Réduit la taille de la police
    }
  }

  .end-page__container {
    width: 100%; // Ajuste la largeur pour les très petits écrans
    padding: 22rem;
    font-size: 1.4rem; // Réduit la taille de la police

    h2,
    h3,
    p,
    a {
      font-size: 5rem; // Réduit la taille de la police
    }
  }

  .go-top {
    bottom: 1rem; // Ajuste la position du bouton
    right: 1rem;

    #up-button-link {
      width: 2rem; // Réduit encore la taille du lien de retour en haut
    }

    #up-button-img {
      height: 4rem;
      width: 4rem;
    }
  }
}
