// En-tête
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  padding: 2em 1em;
  position: sticky;
  top: 0;
  z-index: 1000;
}
// Barre de navigation
.navbar {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  background-color: white;
  width: 60%;
  padding: 0.5rem;
  border-radius: 55px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
// Logo
.navbar__logo {
  display: flex;
  align-items: center;
  padding: 0;

  img {
    width: 10rem;
    height: auto;
  }
}
// Liens de navigation
.navbar__links {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
  list-style: none;

  a {
    display: inline-block;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 50px;
    padding: 0.5rem 1rem;

    a:hover {
      background-color: $blue-mai;
      color: white;
      transform: scale(1.1);
    }
  }
}
// Boutons
.navbar__button,
.navbar__registration {
  background-color: $blue-mai;
  color: white;
  font-weight: bold;
  letter-spacing: 0.2rem;
  border-radius: 45px;
  padding: 1rem 2rem;
  margin-left: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: $blue-mai;
    color: white;
    transform: scale(1.1);
  }
}
.navbar__button.sign-in {
  background-color: transparent; /* Pas de couleur de fond */
  color: $blue-mai; /* Couleur du texte */
  box-shadow: none;
}
// Icônes de mode sombre et clair
.navbar__toggle {
  position: relative;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;

  .navbar__icon {
    max-width: 2rem;
    max-height: 2rem;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }

  .js-hidden {
    display: none;
  }

  .navbar__moon-icon {
    display: block;
  }

  .navbar__sun-icon {
    display: none;
  }
}

// Mode sombre
body.dark-mode {
  background: $bg-img-night no-repeat center center fixed;
  background-size: cover;
  background-color: $background-dark;
  color: $cream-mai;

  .navbar {
    background-color: $blue-mai;
    color: $cream-mai;
  }

  a {
    color: $cream-mai;
  }

  .navbar__moon-icon {
    display: none;
  }

  .navbar__sun-icon {
    display: block;
  }
}
