header {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  padding: 2em 1em;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 45px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-items: center;
}
.navbar__logo {
  padding: 0;
  img {
    width: 10rem;
    height: auto;
  }
}
.navbar__links {
  display: flex;
  width: 50%;
  justify-content: space-between;
  list-style: none;
}
.navbar__reservation {
  background-color: $blue-mai;
  color: white;
  border-radius: 45px;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar__toggle {
  button {
    background-color: $golden-button;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.2rem;
  }
}
// Styles pour le mode sombre
body.dark-mode {
  background: $bg-img-night no-repeat center center fixed;
  background-size: cover;
  background-color: $background-dark;
  color: $cream-mai;
  &.dark-mode .navbar {
    background-color: $blue-mai;
    color: $cream-mai;
  }

  &.dark-mode a {
    color: $cream-mai;
  }
}
.navbar__login {
  display: flex;
}
