header {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  padding: 2em 1em;
  position: fixed;
  top: 0;
  z-index: 1000;
}
// Barre de navigation
.navbar {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  background-color: white;
  width: 63%;
  padding: 0.5rem;
  border-radius: 55px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
// Logo
.navbar__logo {
  display: flex;
  align-items: center;
  padding: 0;

  img {
    width: 10rem;
    height: auto;
  }
}

.navbar__links {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
  list-style: none;

  a {
    display: inline-block;
    align-items: center;
    font-weight: bold;
    font-size: 1.6rem;
    color: $blue-mai;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 50px;
    text-decoration: none;
    padding: 0.5rem 1rem;

    &:hover {
      background-color: $blue-mai;
      color: white;
      transform: scale(1.1);
    }
    body.light-mode {
      color: $blue-mai;
    }
  }
}
// Boutons
.navbar__button {
  @include button;
  &:hover {
    transform: scale(1.1);
  }
}

// Icônes de mode sombre et clair
.navbar__toggle {
  position: relative;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    transform: scale(1.1);
  }

  .navbar__icon {
    width: 2.5rem !important;
    height: 2.5rem !important;
    cursor: pointer;

    transition: opacity 0.3s ease;
  }

  .js-hidden {
    display: none;
  }

  .navbar__moon-icon {
    display: block;
  }

  .navbar__sun-icon {
    display: none;
  }
}
.navbar__toggle {
  background-color: transparent;
  color: inherit;
  padding: 0;
  box-shadow: none;

  &:hover {
    background-color: transparent;
    color: inherit;
  }
}
.navbar__login {
  display: flex;
  align-items: center;
}
// Mode sombre
body.dark-mode {
  background: $bg-img-night no-repeat center center fixed;
  background-size: cover;
  background-color: $background-dark;
  color: $cream-mai;

  .navbar__moon-icon {
    display: none;
    width: 1, 5rem;
    height: 1rem;
  }

  .navbar__sun-icon {
    display: block;
  }
}

// Mode clair
body.light-mode {
  background: $bg-img-day no-repeat center center fixed;
  background-size: cover;
  background-color: $background-light;
  color: $blue-mai;

  .navbar__moon-icon {
    display: block;
  }

  .navbar__sun-icon {
    display: none;
  }
}

// Menu burger
.burger-menu {
  display: none;
  cursor: pointer;
  padding: 1rem;
  z-index: 1001;

  img {
    width: clamp(1rem, 4vw, 2.5rem);
  }
}

// Version mobile
.header__mobile {
  display: none;
}

.header__desktop {
  display: flex;
}

// Styles pour les écrans mobiles
@media (max-width: 768px) {
  .header__desktop {
    display: none;
  }

  .header__mobile {
    display: flex;
    width: 100%;
  }

  .burger-menu {
    display: flex;
  }
  .navbar {
    width: 80%;
  }

  .navbar__button {
    display: flex;
    border-radius: 15px;
    font-size: small;
  }
  .navbar__links {
    display: none;
    flex-direction: column;
    background-color: $cream-mai;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 3rem;
    z-index: 1000;
    overflow-y: auto;

    &.show {
      display: flex;
      justify-content: center;
      gap: 3rem;
      background-color: $cream-mai;

      li {
        list-style: none;
        margin: 0.5rem 0;
        text-align: center;
      }

      a {
        color: $blue-mai;
        display: block;
        font-weight: bold;
        font-size: 3rem;
        padding: 1rem;
        text-decoration: none;
        &:hover {
          background-color: $blue-mai;
          color: white;
          transform: scale(1.1);
        }
      }

      .navbar__button {
        color: white;
      }
    }
  }
}
