/* Styles pour la page de réservation */
.reservation__container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrage horizontal */
  justify-content: center; /* Centrage vertical */
  margin: 15rem auto;
  max-width: 60rem;
  padding: 4rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: $background-light;

  &.dark-mode {
    background-color: $background-dark;
    color: $cream-mai;
  }

  .form-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;

    h2 {
      font-size: 3rem;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%; /* Prendre la largeur du conteneur */
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Deux colonnes */
  gap: 1.5rem;
  margin-bottom: 2rem;

  .full-width {
    grid-column: 1 / 3; /* Étendre sur les deux colonnes */
  }

  label {
    font-size: 1.5rem;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  input,
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);

    &:focus {
      border-color: $golden-button;
      outline: none;
    }
  }

  textarea {
    resize: vertical;
  }
}

.submit-btn {
  @include button;
  transition: background-color 0.3s ease;
}

/* Responsive Design pour les petits écrans */
@media (max-width: 768px) {
  .reservation__container {
    max-width: 100%; /* Prendre toute la largeur de l'écran */
    padding: 2rem;
    margin-top: 5rem;
  }

  .form-grid {
    grid-template-columns: 1fr;

    .full-width {
      grid-column: 1 / 2;
    }
  }
}
@media (max-width: 768px) {
  .reservation__container {
    margin: 12rem 3rem 5rem 3rem;

    .form-header h2 {
      font-size: 3rem;
    }

    .submit-btn {
      font-size: 2rem;
      padding: 12px;
    }

    .form-grid label {
      font-size: 2.4rem;
    }
  }
  @media (max-width: 480px) {
    .reservation__container {
      margin: 16rem 2rem 5rem 2rem;
      padding: 1.5rem;
    }

    .form-header h2 {
      font-size: 2.5rem; /* Taille plus petite pour les petits écrans */
    }

    .submit-btn {
      font-size: 1.8rem;
      padding: 10px;
    }

    .form-grid label {
      font-size: 2.2rem;
    }
  }
}
