//Police

$base-font-size: 1.6rem;
$font-size-mobile: 1.2rem;
$container-padding: 3rem;
$spacing-large: 4rem;
$spacing-small: 2rem;

// colors

$blue-mai: #213f7d;
$cream-mai: #f0e9e1;
$golden-button: #ffbc0d;

//background colors

$background-light: #f0e9e1;
$background-dark: #213f7d;

//background images

$bg-img-day: url("../../images/angkor-wat.webp");
$bg-img-night: url("../../images/angkor-wat2.webp");
$bg-img-cat: url("../../images/chat.webp");
$bg-img-vitrine: url("../../images/vitrine.webp");
$bg-img-card: url("../../images/cardbg.webp");
$bg-img-meals: url("../../images/plats.webp");

// logo Maï

$logo-width: 100px;
$logo-height: auto;

// gallery

$gallery-width: 2rem;
$gallery-height: 2rem;
$gap: 1rem;
$animation-duration: 20s;

// Taille du up bouton
$up-button-img-size-light: 3rem;
$up-button-img-size-dark: 3rem;

//Gallerie animation
$animation-duration: 30s;
$animation-timing-function: linear;
$animation-iteration-count: infinite;

//Mixins
@mixin modale {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  width: 50rem;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
@mixin dark-mode {
  background-color: $background-dark;
  color: $cream-mai;
}

@mixin fieldset {
  display: flex;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  border: none;
  flex-direction: column;
  align-items: center;
  input {
    margin: 1rem;
    border: none;
    width: 20rem;
    height: 2rem;
    border-radius: 45px;
  }
}
@mixin button {
  text-align: center;
  background-color: $blue-mai;
  color: white;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 0.2rem;
  border-radius: 2rem;
  padding: clamp(0.5rem, 2vw, 1rem) clamp(1rem, 4vw, 2rem);
  margin-left: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: none;
  text-decoration: none;
  &:hover {
    background-color: $blue-mai;
    color: white;
    transform: scale(1.1);
  }
}
@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
