{% extends 'admin/layout.html.twig' %}

{% block main %}
    <main class="container py-5">
    <h2>Bienvenue dans le tableau de bord admin</h2>
    <p>Ici, vous pouvez gérer les utilisateurs et les commandes.</p>
    </main>
{% endblock %}