{% extends 'admin/layout.html.twig' %}


{% block main %}
<main class="addDishe">
    <section class="addDishe__container">
        <h2>Formulaire d'ajout de plat</h2>

{% if app.session.get('message') %}
    <div class="alert alert-success">
        {{ app.session.get('message') }}
    </div>
    {% do app.session.remove('message') %}
{% endif %}

{% if error %}
    <div class="alert alert-danger">{{ error }}</div>
{% endif %}

        <form action="index.php?route=admin-check-addDishe" method="post" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token }}" />
            
            <fieldset>
                <label for="category">Catégorie</label>
                <select type="text" name="category" id="category" required>
                    <option value="" disabled {% if not dishe.category %}selected{% endif %}>Choisir une catégorie</option>
                    <option value="entrée" {% if dishe.category == 'entrée' %}selected{% endif %}>Entrée</option>
                    <option value="plat" {% if dishe.category == 'plat' %}selected{% endif %}>Plat</option>
                    <option value="dessert" {% if dishe.category == 'dessert' %}selected{% endif %}>Dessert</option>
                    <option value="boisson" {% if dishe.category == 'boisson' %}selected{% endif %}>Boisson</option>
                </select>
            </fieldset>

            <fieldset>
                <label for="name">Nom du plat</label>
                <input type="text" name="name" id="name" required>
            </fieldset>
            
            <fieldset>
                <label for="price">Prix</label>
                <input type="number" step="0.01" name="price" id="price" required>
            </fieldset>
            
            <fieldset>
                <label for="picture">Choisir une image</label>
                <input type="file" name="picture" id="picture" accept="image/*" required>
            </fieldset>
            
            <fieldset>
                <label for="isVegetarian">
                    Végétarien
                    <input type="checkbox" id="isVegetarian" name="isVegetarian" value="1">
                </label>
            </fieldset>
            
            <fieldset>
                <label for="description">Description</label>
                <textarea id="description" name="description" rows="4" cols="50"></textarea>
            </fieldset>
            
            <fieldset>
                <button type="submit">Ajouter le plat</button>
            </fieldset>
        </form>
    </section>
</main>
{% endblock %}