{% extends "layout.html.twig" %}


{% block main %}

<main class="error404">
  
<section class="error404__container">

<p class="error404__giant404">404</p>

<h2>Nous avons perdu la page</h2>

  <p> La page que vous recherchez n'exsite pas ou a été enlevée.</p>

<button>Retour à l'accueil</button>

</section>
</main>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}