{% extends "layout.html.twig" %}


{% block title %}À propos{% endblock %}
{% block body %}
<h1>À propos</h1>
<p>Bienvenue sur la page à propos du Restaurant Maï. Ici vous pouvez trouver plus d’informations sur notre histoire, notre mission et nos valeurs.</p>
{% endblock %}