{% extends 'layout.html.twig' %}

{% block description %}
  Page contact du restaurant Maï afin de pouvoir demander des renseingments ou organiser des événements.{% endblock %}



  {% block content %}
    <h1>Liste des users</h1>
    <ul>
        {% for user in users %}
            <li>{{ user.name }} - {{ user.email }}</li>
        {% endfor %}
        
    </ul>
{% endblock %}