{% extends 'layout.html.twig' %}

{% block title %}Confimation d'envoie de message
{{ parent() }}
{% endblock %}


{% block main %}

    <h2>Merci de nous avoir contactés !</h2>
    <p>Votre message a été envoyé avec succès. Nous vous répondrons dans les plus brefs délais.</p>
{% endblock %}