{% extends 'layout.html.twig' %}

{% block title %}Localisation
  {{ parent() }}
{% endblock %}

{% block main %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

<section class="contact-info">
  <div class="contact-info__block">
    <h2>Nous sommes là</h2>
    <div class="contact-info__item">
      <i class="fas fa-home"></i>
      <p><strong>Maï Restaurant</strong></p>
    </div>
    <div class="contact-info__item">
      <i class="fas fa-map-marker-alt"></i>
      <p>101 rue Jules Ferry, 22000 Saint-Brieuc</p>
    </div>
    <div class="contact-info__item">
      <i class="fas fa-phone"></i>
      <p><strong>02 96 75 62 73</strong></p>
    </div>
    <div class="contact-info__map">
      <div id="map"></div>
    </div>
  </div>

  <div class="contact-info__block">
    <h2>Horaires d'ouverture</h2>
    <p><strong>Lundi :</strong> fermé</p>
    <p><strong>Mardi :</strong><br>11:00 - 14:00<br>17:00 - 20:00</p>
    <p><strong>Mercredi :</strong><br>11:00 - 14:00<br>17:00 - 20:00</p>
    <p><strong>Jeudi :</strong><br>11:00 - 14:00<br>17:00 - 20:00</p>
    <p><strong>Vendredi :</strong><br>11:00 - 14:00<br>17:00 - 20:00</p>
    <p><strong>Samedi :</strong><br>11:00 - 14:00<br>17:00 - 20:00</p>
    <p><strong>Dimanche :</strong> fermé</p>
  </div>

  <div class="contact-info__block">
    <img src="./assets/images/mai-restaurant2.webp" alt="image extérieur du restaurant" />
  </div>
</section>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>



{% block scripts %}
  <script src="assets/styles/js/localisation.js" type="module"></script>
{% endblock %}


{% endblock %}