{% extends "layout.html.twig" %}

{% block title %}Politique de confidentialité
{{ parent() }}
{% endblock %}


{% block main %}
<section class="privacy-policy">
  <h2>Politique de confidentialité</h2>

  <h3>Introduction</h3>
  <p>Votre vie privée est importante pour nous. Cette politique de confidentialité explique comment nous collectons, utilisons et protégeons vos informations.</p>

  <h3>Données collectées</h3>
  <p>Nous collectons les informations suivantes : nom, adresse e-mail, numéro de téléphone, etc.</p>

  <h3>Utilisation des données</h3>
  <p>Nous utilisons vos données pour traiter vos commandes, vos réservations, vos demandes et améliorer nos services.</p>

  <h3>Partage des données</h3>
  <p>Nous ne partageons pas ni revendons vos informations avec des tiers.</p>

  <h3>Sécurité des données</h3>
  <p>Nous prenons des mesures de sécurité pour protéger vos données.</p>

  <h3>Modifications de la politique</h3>
  <p>Nous pouvons mettre à jour cette politique. Les modifications seront affichées sur cette page.</p>

  <h3>Contact</h3>
  <p>Pour toute question concernant cette politique, veuillez nous contacter via le formulaire situé dans l'onglet "contact".</p>
</section>

      <button class="go-top" id="up-button-link" aria-label="Retour en haut de la page">
        <img src="./assets/images/icons/up-blue.webp" alt="Bouton retour en haut de la page" id="up-button-img"/>
      </button>
    
{% endblock %}
