{% extends 'layout.html.twig' %}

{% block description %}
  Page de d'inscription du restaurant Maï pour pouvoir s'inscrire sur le site et ainsi avoir la possibilité de commander.
{% endblock %}

{% block title %}Inscription
{{ parent() }}
{% endblock %}

{% block main %}
<main class="register">
    <section class="register__container py-5">
        <h2>Inscription</h2>
   {% if session.error_message %}
            <div class="alert alert-danger" role="alert">
                {{ session.error_message }}
            </div>

        {% endif %}

        <form action="index.php?route=check-inscription" method="post">
            <input type="hidden" id="csrf_token" name="csrf_token" value="{{ session.csrf_token }}" />
            <fieldset>
                <label for="first_name" class="form-label">Prénom :</label>
                <input type="text" name="first_name" id="first_name" required class="form-control" />
            </fieldset>
            <fieldset>
                <label for="last_name" class="form-label">Nom de famille :</label>
                <input type="text" name="last_name" id="last_name" required class="form-control" />
            </fieldset>

            <fieldset>
                <label for="email" class="form-label">Email :</label>
                <input type="email" name="email" id="email" required class="form-control" />
            </fieldset>
            <fieldset>
                <label for="phone" class="form-label">Téléphone :</label>
                <input type="tel" name="phone" id="phone" required class="form-control" /> 
            </fieldset>
            <fieldset>
                <label for="password" class="form-label">Mot de passe :</label>
                <input type="password" name="password" id="password" required class="form-control" />
            </fieldset>
            <fieldset>
                <label for="confirm_password" class="form-label">Vérification du mot de passe :</label>
                <input type="password" name="confirm_password" id="confirm_password" required class="form-control" />
            </fieldset>
            <fieldset>
                <button type="submit">S'inscrire</button>
            </fieldset>
            <p>Déjà un compte ? <a href="index.php?route=connexion">Se connecter</a></p>
        </form>
    </section>
</main>
{% endblock %}


