body {
  background-color: #f0e9e1;
  /*
    transition: background-color 0.5s;

    background-image: url("../../images/angkor-wat.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    &.dark-mode {
      background-color: $background-dark;
      transition: background-color 0.5s;
    }
  */
}

body > header {
  width: 100vw;
  border-bottom: 1px solid white;
  display: grid;
  grid-template-columns: 15vw 85vw;
}