@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Sassy+Frass&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px (la formule est 10/16*100) la taille par défaut étant 16px */
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: sans-serif;
  color: #213f7d;
  font-size: 1.6rem; /* on remets la taille du texte par défaut pour le body à 16px en utilisant les rem comme unité) */
  background: url("../../images/angkor-wat.webp") no-repeat center center fixed;
  background-position: 60% 19%;
  background-size: 103%;
  background-color: #f0e9e1;
  transition: background-color 0.5s ease-in-out;
}

.js-darkMode {
  background-image: url("../../images/angkor-wat2.webp");
  background-color: #213f7d;
}

.body.dark-mode .footer {
  background-color: #213f7d;
}

ul {
  padding: 0;
  margin-left: 0;
}

li {
  padding: 0;
  margin: 0;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #213f7d;
}

h1 {
  font-family: "Sassy Frass", cursive;
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 40rem;
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  padding: 2em 1em;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  background-color: white;
  width: 60%;
  padding: 0.5rem;
  border-radius: 55px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar__logo {
  display: flex;
  align-items: center;
  padding: 0;
}
.navbar__logo img {
  width: 10rem;
  height: auto;
}

.navbar__links {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
  list-style: none;
}
.navbar__links a {
  display: inline-block;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 50px;
  padding: 0.5rem 1rem;
}
.navbar__links a a:hover {
  background-color: #213f7d;
  color: white;
  transform: scale(1.1);
}

.navbar__button,
.navbar__registration {
  background-color: #213f7d;
  color: white;
  font-weight: bold;
  letter-spacing: 0.2rem;
  border-radius: 45px;
  padding: 1rem 2rem;
  margin-left: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.navbar__button:hover,
.navbar__registration:hover {
  background-color: #213f7d;
  color: white;
  transform: scale(1.1);
}

.navbar__button.sign-in {
  background-color: transparent; /* Pas de couleur de fond */
  color: #213f7d; /* Couleur du texte */
  box-shadow: none;
}

.navbar__toggle {
  position: relative;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__toggle .navbar__icon {
  max-width: 2rem;
  max-height: 2rem;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.navbar__toggle .js-hidden {
  display: none;
}
.navbar__toggle .navbar__moon-icon {
  display: block;
}
.navbar__toggle .navbar__sun-icon {
  display: none;
}

body.dark-mode {
  background: url("../../images/angkor-wat2.webp") no-repeat center center fixed;
  background-size: cover;
  background-color: #213f7d;
  color: rgb(240, 233, 225);
}
body.dark-mode .navbar {
  background-color: #213f7d;
  color: rgb(240, 233, 225);
}
body.dark-mode a {
  color: rgb(240, 233, 225);
}
body.dark-mode .navbar__moon-icon {
  display: none;
}
body.dark-mode .navbar__sun-icon {
  display: block;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #f0e9e1;
  width: 100vw;
  padding: 1em 1em;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
footer.js-darkMode {
  background-color: #213f7d;
  color: #fff;
}

.footer__logo {
  display: flex;
  align-items: center;
  padding: 0;
}
.footer__logo img {
  width: 15rem;
  height: auto;
}

.footer__location {
  font-weight: bold;
}

.footer__hours {
  font-weight: bold;
}

.footer__social {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0;
}
.footer__social img {
  width: 3rem;
  height: auto;
}